/** LNCS
 *
 * Sarven Capadisli <info@csarven.ca> http://csarven.ca/#i
 * http://www.apache.org/licenses/LICENSE-2.0.html Apache License, Version 2.0
 * https://github.com/csarven/linked-research
 */

/*
LNCS template styles: http://www.springer.com/computer/lncs?SGWID=0-164-6-793341-0

Computer Modern Unicode fonts are from http://canopus.iacp.dvo.ru/~panov/cm-unicode/ with X11 License.
*/

@font-face {
font-family: "CMU Serif";
src: local("CMU Serif"), url("../fonts/cmunrm.otf");
}
@font-face {
font-family: "CMU Serif Bold";
src: local("CMU Serif Bold"), url("../fonts/cmunbx.otf");
font-weight: bold;
}
@font-face {
font-family: "CMU Serif Italic";
src: local("CMU Serif Italic"), url("../fonts/cmunti.otf");
font-style: italic;
}
@font-face {
font-family: "CMU Serif Bold Italic";
src: local("CMU Serif Bold Italic"), url("../fonts/cmunbi.otf");
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: "CMU Serif Monospace";
src: local("CMU Serif Monospace"), url("../fonts/cmuntt.otf");
}

@media print {
/*
@media print and (width: 210mm) and (height: 297mm) {
@media print and (width: 8.5in) and (height: 11in) {
*/
@page {
/*Standard ISO A4 paper dimensions are:*/
/*210mm x 297mm*/
/*8.27" x 11.69"*/
/*Equivalent A4 paper dimensions in pixels at 300 DPI and 72 DPI respectively are:*/
/*2480 pixels x 3508 pixels (print resolution)*/
/*595 pixels x 842 pixels (screen resolution)*/
/*size: A4;*/
margin:52mm 0;
}

body {
font-size:10pt !important;
margin:0 auto !important;
padding:0 !important;
width:122mm !important;
height:193mm !important; /* A4 - LNCS height*/
}

h1 { font-size:14pt !important; }
h2 { font-size:12pt !important; }
h3 { font-size:10pt !important; }
h4 { font-size:10pt !important; }
h5 { font-size:10pt !important; }
h6 { font-size:9pt !important; }

caption, td, th,
#author-org,
#author-uri,
#abstract *,
#document-identifier *,
#document-published *,
#document-modified *,
#document-appeared *,
#document-license *,
#document-purpose *,
#keywords *,
#categories-and-subject-descriptors *,
#references li,
aside.note {
font-size:9pt !important;
}

.h1 {
font-family: "CMU Serif Bold", serif !important;
font-size:14pt;
}
.h2 {
font-family: "CMU Serif Bold", serif !important;
font-size:12pt;
}
.h3 {
font-family: "CMU Serif Bold", serif !important;
font-size:10pt;
}
.h4 {
font-family: "CMU Serif Bold", serif !important;
font-size:10pt;
}
.h5 {
font-family: "CMU Serif Italic", serif !important;
font-size:10pt;
font-weight:normal;
}
.h6 {
font-family: "CMU Serif Italic", serif !important;
font-size:9pt;
font-weight:normal;
}

a {
text-decoration:none;
color:#000;
}
abbr { border-bottom: none; }
audio { display:none; }

button {
margin:0 !important;
padding:0 !important;
font-size:10pt;
}

.blink {
animation: none;
-webkit-animation: none;
}

object:not([type="text/html"]) { height:auto !important; }
object[type="text/html"] {
width:auto !important;
height:100px !important;
min-height:auto !important;
max-height:100px !important;
}
} /* media print */


* { margin:0; padding:0; filter:none !important; }
img { border:0; }
a abbr { cursor: pointer; border-bottom:0; }
table { border-collapse:collapse; }
tr { vertical-align:top; }
ol { list-style-position:inside; }
h2, h3, h4, h5, h6, p, ul, ol, li, pre, code, samp, audio, video {
orphans: 3;
widows: 3;
}

table, img, object, figure, audio, video, canvas { page-break-inside: avoid; }
object {
width:100%;
min-height:240px;
}
object[type="text/html"] { min-height:480px; }
img { max-width:100%; height:auto; }
video, audio { display:block; max-width:60%; height:auto; margin:0 auto; }

object.slides { display:none; }
.block { display:block; }

#references {
clear:both;
}

#references ol {
counter-reset: list-order;
text-align:left;
}
#references ol li {
counter-increment: list-order;
list-style-position:outside;
list-style-type: none;
margin-left: 1.1em;
font-size:0.923em;
}
#references ol li:before {
content: counter(list-order) ". ";
margin-left: -1.1em;
}


#references a,
table code, table samp {
word-wrap:break-word;
word-break:break-all;
}


body {
color:#000000;
font-family: "CMU Serif", serif;
/*font-size:1.689vw;*/
font-size:162.448%;
line-height:1.231;
position:relative;
margin:0 auto;
padding:2em 0;
width:35.475em;
-moz-hyphens:auto;
-webkit-hyphens:auto;
-ms-hyphens:auto;
hyphens:auto;
}
#authors, #keywords, #categories-and-subject-descriptors, #general-terms, #references, pre, code, samp, h1, table *, figcaption {
-moz-hyphens:none;
-webkit-hyphens:none;
-ms-hyphens:none;
hyphens:none;
}

h1,h2,h3,h4, strong, dt, figcaption:before, caption:before {
font-family: "CMU Serif Bold", serif !important;
}
h5,h6, em, address {
font-family: "CMU Serif Italic", serif !important;
}
h1 em, h2 em, h3 em, h4 em {
font-family: "CMU Serif Bold Italic", serif !important;
}
code, code strong, samp, samp strong pre, kbd, button {
font-family: "CMU Serif Monospace", monospace !important;
}
code strong, samp strong {
font-weight:bold;
}
h5, h5 {
font-weight:normal;
}

p {
text-indent:1em;
}

h1,h2,h3,h4,h5,h6 {
overflow:hidden;
page-break-after: avoid;
line-height:1.231;
}
h1 {
font-size:1.4615em;
margin-bottom:1.5em;
text-align:center;
}
h2 { font-size:1.231em; }
h3 { font-size:1em; }
h4 { font-size:1em; }
h5 { font-size:1em; }
h6 { font-size:0.923em; }

h2 {
margin-top:1.25em;
margin-bottom:0.75em;
}
h3 {
margin-top:1.5em;
margin-bottom:0.5em;
}
h4 {
margin-top:1em;
display:inline;
}
h5 {
display:inline;
}

.h1 {
font-family: "CMU Serif Bold", serif !important;
font-size:1.4615em;
}
.h2 {
font-family: "CMU Serif Bold", serif !important;
font-size:1.231em;
}
.h3 {
font-family: "CMU Serif Bold", serif !important;
font-size:1em;
}
.h4 {
font-family: "CMU Serif Bold", serif !important;
font-size:1em;
}
.h5 {
font-family: "CMU Serif Italic", serif !important;
font-size:1em;
font-weight:normal;
}
.h6 {
font-family: "CMU Serif Italic", serif !important;
font-size:0.923em;
font-weight:normal;
}

aside.note {
position:relative;
margin:1em 0;
border-top:1px solid #000;
padding-top:0.25em;
font-size:0.923em;
}

aside.note:after {
content:"";
width:50%;
background-color:#fff;
position:absolute;
top:-1px;
right:0;
height:1px;
}

aside.note p {
text-indent:0;
}

article section:not([id=abstract]):not([id=keywords]):not([id=references]):not([id=categories-and-subject-descriptors]):not([id=general-terms]):not([id=appendix]):not([id=contact-us]) {
counter-increment: section;
counter-reset: sub-section;
}
article section:not([id=abstract]):not([id=keywords]):not([id=references]):not([id=categories-and-subject-descriptors]):not([id=general-terms]):not([id=appendix]):not([id=contact-us]) section {
counter-increment: sub-section;
counter-reset: sub-sub-section;
}
article section:not([id=abstract]):not([id=keywords]):not([id=references]):not([id=categories-and-subject-descriptors]):not([id=general-terms]):not([id=appendix]):not([id=contact-us]) section section {
counter-increment: sub-sub-section;
counter-reset: sub-sub-sub-section;
}

article *:not([id=abstract]):not([id=keywords]):not([id=references]):not([id=general-terms]):not([id=appendix]):not([id=contact-us]) h2:before {
content: counter(section) "\00a0\00a0\00a0\00a0";
}

article h3:before {
content: counter(section) "." counter(sub-section) "\00a0\00a0\00a0";
}
article h4:after,
article h5:after {
content: ".";
}


h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
div > p:first-child,
dl + p ,
ul + p,
figure + p,
audio + p,
video + p,
blockquote p {
text-indent:0;
}
h1 + p {
margin-bottom:1em;
}



h4 + p,
h5 + p,
h4 + div,
h5 + div,
h4 + div p,
h5 + div p {
display:inline;
text-align:justify;

/*This is a bit hacky.. it appears to work in Webkit and maybe it shouldn't -- breaking words inappropriately*/
/*word-break:break-all;*/

/*
Testing?
text-justify:distribute;
word-break:break-all;
hyphens:auto;
text-wrap:normal;
line-break:normal;
*/
}
h4 + p + p,
h5 + p + p,
h4 + div p + p,
h5 + div p + p {
display:block;
}



h3 + div section:before,
h4 + p:after,
h5 + p:after,
h4 + div p:after,
h5 + div p:after,
section + p:before,
section + dl:before {
content:"\A";
white-space:pre;
}

section + p:before {
text-indent:0;
}

* + h4:before,
caption:before,
* + h5:before,
h4 + h5:before {
content:"\A";
white-space:pre;
}

fieldset {
padding:1em;
}
fieldset ul {
list-style-type:none;
}

pre {
margin:1em 0;
font-size:0.875em;
}

figure.listing pre {
border:1px solid #000;
padding:0.5em;
counter-reset: precode;
}
figure.listing pre code:before,
figure.listing pre samp:before {
position:absolute;
left:-1.75em;
text-align:right;
content: counter(precode);
counter-increment: precode;
}

#authors {
margin:0 auto 2.5em -3%;
text-align:center;
width:106%;
}

#authors dl {
line-height:1;
}

#author-org,
#author-uri,
#abstract h2, #abstract p,
#document-identifier dt, #document-identifier dd,
#document-published dt, #document-published dd,
#document-modified dt, #document-modified dd,
#document-appeared dt, #document-appeared dd,
#document-license dt, #document-license dd,
#document-purpose dt, #document-purpose dd,
#general-terms h2, #general-terms li,
#keywords h2, #keywords li,
#categories-and-subject-descriptors h2, #categories-and-subject-descriptors li {
font-size:0.923em;
}

#author-email,
#author-uri {
font-family: "CMU Serif Monospace", monospace !important;
font-size:0.923em;
}


#authors dl,
#authors ul {
margin:0;
text-align:center;
}

#authors dl {
margin-bottom:1em;
}

#authors dd,
#authors li {
display:inline !important;
margin-bottom:0;
}

#authors dd:not(:empty):after,
#author-email li:not(:empty):after,
#author-org li:not(:empty):after,
#author-uri li:not(:empty):after {
content:", ";
}
#authors dd:last-child:after,
#author-email li:last-child:after,
#author-org li:last-child:after,
#author-uri li:last-child:after {
content:"";
}
#authors sup {
margin-left:1px;
}
#authors sup:after {
content:",";
}
#authors sup:last-child:after,
#authors sup:first-child:after {
content:"" !important;
}

#abstract h2:before,
#document-identifier dt:before,
#document-purpose dt:before,
#document-published dt:before,
#document-modified dt:before,
#document-appeared dt:before,
#document-license dt:before,
#categories-and-subject-descriptors h2:before,
#keywords h2:before,
#general-terms h2:before,
#acknowledgements h2:before,
#references h2:before,
#appendix h2:before,
#appendix h3:before,
#appendix h4:before,
#contact-us h2:before,
#contact-us h3:before,
#contact-us h4:before {
content: "";
}

#abstract h2:after,
#document-identifier dt:after,
#document-purpose dt:after,
#document-published dt:after,
#document-modified dt:after,
#document-appeared dt:after,
#document-license dt:after,
#general-terms h2:after,
#categories-and-subject-descriptors h2:after,
#keywords h2:after {
content: ":";
}


#abstract h2:after {
content: ".";
}

#abstract h2,
#abstract div, #abstract div *:first-child,
#categories-and-subject-descriptors h2,
#categories-and-subject-descriptors div, #categories-and-subject-descriptors div *:first-child,
#general-terms h2,
#general-terms div, #general-terms div *:first-child,
#keywords h2,
#keywords div, #keywords div *:first-child,
#document-identifier dt,
#document-identifier dt + dd,
#document-purpose dt,
#document-purpose dt + dd,
#document-published dt,
#document-published dt + dd,
#document-modified dt,
#document-modified dt + dd,
#document-appeared dt,
#document-appeared dt + dd,
#document-license dt,
#document-license dt + dd {
display:inline;
}


#document-purpose {
/*display:none;*/
}


th:last-child,
td:last-child {
padding-right:0;
}


ol, ul, dd, table {
margin-bottom:1em;
}

figure,
audio,
video,
canvas {
margin-top:1em;
margin-bottom:1em;
position:relative;
text-align:center;
}
figure pre,
figcaption {
text-align:left;
}
figure object,
figure img,
figure pre {
margin-bottom:1em;
}

html {
counter-reset: figure 0;
}
body {
counter-reset: listing 0;
}
article {
counter-reset: table 0;
}
figure {
counter-increment:figure;
}
figure.listing {
counter-increment:listing;
}
figure.equation {
counter-increment:equation;
}
table {
counter-increment:table;
}
figure.equation:after {
content: "(" counter(equation) ")";
line-height:0;
position: absolute;
top:45%;
right:0;
}
figcaption:before {
content: "Fig. " counter(figure) ". ";
}
figure.listing figcaption:before {
content: "Listing " counter(listing) ". ";
}
caption:before {
content: "Table " counter(table) ". ";
}


.figure-column-2 {
/*-webkit-column-count:2;*/
/*-webkit-column-width:47.5%;*/
/*-webkit-column-gap:5%;*/
/*-moz-column-count:2;*/
/*-moz-column-width:47.5%;*/
/*-moz-column-gap:5%;*/
/*column-count:2;*/
/*column-column-width:47.5%;*/
/*column-gap:5%;*/
float:left;
width:100%;
}
.figure-column-2 + *{
clear:both;
}
.figure-column-2 figure {
margin-top:0;
width:47.5%;
margin-left:5%;
float:left;
}
.figure-column-2 figure:first-child {
margin-left:0;
}

p + math, ul + math, ol + math, dl + math, dd > math, div + math, section + math {
text-align:center;
margin-top:1em;
margin-bottom:1em;
}
p + math, ul + math, ol + math, dl + math, dd > math, div + math, section + math,
figure math {
display:block;
font-size:0.95em;
}
figure.equation {
counter-increment:equation;
}
figure.equation:after {
content: "(" counter(equation) ")";
line-height:0;
position: absolute;
top:45%;
right:0;
}



#abstract, ol, ul, p, dd {
text-align:justify;
}

p + dl {
margin-top:1.25em;
}

dt {
margin-bottom:0.5em;
}

ul, ol {
margin-top:1em;
}


table {
width:100%;
margin-top:1em;
text-align:left;
}
caption {
text-align:left;
font-size:0.923em;
border-bottom:2pt solid #000;
padding:0 0.25em 0.25em;
}
thead {
border-bottom:1pt solid #000;
}
tbody {
border-bottom:2pt solid #000;
}
th, td {
padding:0.25em;
vertical-align:baseline;
font-size:0.923em;
}
th {
font-weight:normal;
}

.entry-subtitle {
margin-bottom:1em;
font-weight:bold;
text-align:center;
}

#abstract,
#document-identifier,
#document-purpose,
#document-published,
#document-modified,
#document-appeared,
#document-license,
#general-terms,
#categories-and-subject-descriptors,
#keywords {
margin:0 2.5em 1em;
}


#authors dt {
display:none;
}

#authors p {
text-align:center;
}

#authors li,
#general-terms,
#categories-and-subject-descriptors li,
#keywords li {
list-style-type:none;
}
#general-terms li,
#categories-and-subject-descriptors li,
#keywords li {
display:inline;
}
#categories-and-subject-descriptors li:after {
content:"; ";
}
#general-terms li:before,
#keywords li:before {
content:"\2022\0020";
}
#general-terms li:first-child:before,
#categories-and-subject-descriptors li:last-child:after,
#keywords li:first-child:before {
content:"";
}

#general-terms h2,
#categories-and-subject-descriptors h2,
#keywords h2,
#document-identifier dt,
#document-published dt,
#document-modified dt,
#document-appeared dt,
#document-license dt {
text-transform:capitalize;
}

#keywords {
margin-bottom:2.75em;
}


#content ul {
list-style-position:inside;
margin-bottom:1em;
}


.entry-content {
margin-bottom:3em;
}

.entry-author,
.datetimestamp,
.entry-replies,
#header,
#footer,
.article_labels * {
display:none;
}


#document-purpose,
#document-published,
#document-modified,
#document-license {
display:none;
}
.on {
display:block;
}
