@font-face {
font-family: "CMU Sans Serif Medium";
src: local("CMU Sans Serif Medium"), url("../fonts/cmunss.otf");
}
@font-face {
font-family: "CMU Sans Serif Bold";
src: local("CMU Sans Serif Bold"), url("../fonts/cmunsx.otf");
font-weight: bold;
}
@font-face {
font-family: "CMU Sans Serif Italic";
src: local("CMU Sans Serif Italic"), url("../fonts/cmunsi.otf");
font-style: italic;
}
@font-face {
font-family: "CMU Sans Serif Bold Italic";
src: local("CMU Sans Serif Bold Italic"), url("../fonts/cmunbxo.otf");
font-weight: bold;
font-style: italic;
}
@font-face {
font-family: "CMU Sans Serif Monospace";
src: local("CMU Sans Serif Monospace"), url("../fonts/cmuntt.otf");
}


html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre
,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small
,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form
,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas
,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby
,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

body {
    line-height: 1.8;
    font-family: "CMU Sans Serif Medium", sans-serif !important;
    counter-reset: slide;
    font-size:32px;
}

ol,ul {
/*    list-style: none;*/
}

blockquote,q {
    quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


@media print {
    body {
        text-rendering: geometricPrecision;
    }
}

a {
    color: #647819;
/*    background: -webkit-linear-gradient(bottom,currentColor,currentColor .09em,transparent .09em,transparent)repeat-x;*/
/*    background: linear-gradient(to top,currentColor,currentColor .09em,transparent .09em,transparent)repeat-x;*/
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,b,strong,dt {
font-family: "CMU Sans Serif Bold", sans-serif !important;
}
i, em, address {
font-family: "CMU Sans Serif Italic", sans-serif !important;
font-style:normal !important;
}

code, pre, kbd {
font-family: "CMU Sans Serif Monospace", monospace !important;
}
h1, h2, h3, button {
text-shadow:1px 1px 1px #ccc;
}

.caption {
    display: none;
    margin: 0 0 60px;
    padding: 0 50px 0 0;
    color: #555;
}

.caption h1 {
    font: 50px 'Open Sans Light',sans-serif;
}

.badge {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    overflow: hidden;
    visibility: hidden;
    width: 11em;
    height: 11em;
    line-height: 2.5;
    font-size: 15px;
}

.badge a {
    position: absolute;
    bottom: 50%;
    right: -50%;
    left: -50%;
    visibility: visible;
    background: #52A2DF;
    color: #FFF;
    text-align: center;
    -webkit-transform-origin: 50% 100%;
    -ms-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transform: rotate(45deg)translateY(-1em);
    -ms-transform: rotate(45deg)translateY(-1em);
    transform: rotate(45deg)translateY(-1em);
}

.live-region {
    display: none;
}

.slide {
    position: relative;
    width: 1024px;
    height: 640px;
    background: #E9E1D2;
    color: #372E27;
    -webkit-print-color-adjust: exact;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

.slide * {
    z-index:1;
    position:relative;
}

@media print {
    .slide {
        page-break-before: always;
    }
}

.slide:after {
    position: absolute;
    right: 0;
    bottom: 45px;
    left: 0;
    color: #AAA;
    counter-increment: slide;
/*    content: counter(slide);*/
    text-align: center;
    line-height: 1;
}

.slide>div {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    padding: 100px 96px 0 128px;
    width: 800px;
    height: 540px;
}

.slide h2 {
    margin: 0 0 1em 0;
/*    font: 48px/1 'Open Sans Light',sans-serif;*/
    font-size:1.6em;
    line-height:1;
}

.slide p {
    margin: 0 0 0.8em 0;
    position:relative;
}

.slide p.note {
    color: #383838;
    font-size:85%;
    line-height:1.6;
}

.slide b,.slide strong {
    font-weight: 700;
}

.slide i,.slide em {
    font-style: italic;
}

.slide code,.slide kbd,.slide samp {
    padding: 5px 7px 1px;
    background: rgba(0,0,0,.08);
    color: #000;
    line-height: 1;
    font-family: 'Anka Coder',monospace;
}

.slide mark,
.highlight {
    padding: 2px 7px;
    background: #FAFAC4;
    color: #000;
    border-style: solid;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
}

.slide mark.important {
    background: #C00;
    color: #FFF;
}

.slide mark.comment {
    padding: 0;
    background: 0 0;
    color: #AAA;
}


.slide sub,.slide sup {
    position: relative;
    line-height: 0;
    font-size: 75%;
}

.slide sub {
    bottom: -.25em;
}

.slide sup {
    top: -.5em;
}

.slide blockquote {
    font-style: italic;
    margin:1.25em 0;
    line-height:1.6;
}

.slide blockquote:before {
    position: absolute;
    margin: -10px 0 0 -80px;
    color: #999;
    content: '\201C';
    line-height: 1;
    font-size: 150px;
}

.slide blockquote+figcaption {
    margin: -48px 0 48px;
    font-style: italic;
    font-weight: 700;
}

.slide ol,.slide ul {
    margin: 0 0 1em;
/*    counter-reset: list;*/
list-style-position:inside;
}

.slide ol li,.slide ul li {
line-height:1.6;
/*    text-indent: -2em;*/
}

/*.slide ol li:before,.slide ul li:before {*/
/*    display: inline-block;*/
/*    width: 2em;*/
/*    color: #555;*/
/*    text-align: right;*/
/*}*/

.slide ol ol,.slide ol ul,.slide ul ol,.slide ul ul {
    margin: 0 0 0 2em;
}

.slide ul>li:before {
/*    content: '\2022\00A0\00A0\2009';*/
}

.slide ul>li:lang(ru):before {
/*    content: '\2014\00A0\2009';*/
}

.slide ol>li:before {
/*    counter-increment: list;*/
/*    content: counter(list)'.\00A0\2009';*/
}


.slide .list-style-type-none li {
    list-style-type:none;
}
.slide .list-style-type-none li:before {
    content:"";
}

.slide pre {
    margin: 0 0 45px;
    padding: 3px 0 0;
    counter-reset: code;
    white-space: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
}

.slide pre code {
    display: block;
    padding: 0;
    background: 0 0;
    white-space: pre;
    line-height: 1.6;
}

.slide pre code:before {
    position: absolute;
    margin-left: -50px;
    color: #777;
    counter-increment: code;
    content: counter(code,decimal-leading-zero)'.';
}

.slide pre code:only-child:before {
    content: '';
}


.slide table {
    margin: 0 0 50px;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

.slide table th,.slide table td {
    background: -webkit-linear-gradient(bottom,#52A2DF,#52A2DF .055em,transparent .055em,transparent)repeat-x;
    background: linear-gradient(to top,#52A2DF,#52A2DF .055em,transparent .055em,transparent)repeat-x;
}

.slide table th {
    text-align: left;
    font-weight: 700;
}

.slide table.striped tr:nth-child(even) {
    background: #f1f7fc;
}

.slide.cover,.slide.shout {
    z-index: 1;
}

.slide.cover:after,.slide.shout:after {
    content: '';
}

.slide.cover {
}

.slide.cover address {
line-height:1.3;
margin:0 0 1em 0;
width:60%;
float:left;
}
.slide.cover address img {
vertical-align:middle;
float:left;
margin-right:1em;
margin-top:0.3em;
}
.slide.cover address a {
display:block;
text-decoration:none;
}
.slide.cover dl.performer {
float:right;
width:33%;
line-height:1.6;
margin-bottom:1em;
font-size:0.9em;
}
.slide.cover dl.performer dt {
font-weight:normal;
font-family:"CMU Sans Serif",sans-serif !important;
}

.slide.cover footer {
padding:0 0 0 260px;
}
.slide.cover footer p {
font-size:0.9em;
line-height:1.6;
}

/*.slide.cover img,.slide.cover svg,.slide.cover video,.slide.cover object,.slide.cover canvas,.slide.cover iframe {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: -1;*/
/*}*/

/*.slide.cover.w img,.slide.cover.w svg,.slide.cover.w video,.slide.cover.w object,.slide.cover.w canvas,.slide.cover.w iframe {*/
/*    top: 50%;*/
/*    width: 100%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/

/*.slide.cover.h img,.slide.cover.h svg,.slide.cover.h video,.slide.cover.h object,.slide.cover.h canvas,.slide.cover.h iframe {*/
/*    left: 50%;*/
/*    height: 100%;*/
/*    -webkit-transform: translateX(-50%);*/
/*    -ms-transform: translateX(-50%);*/
/*    transform: translateX(-50%);*/
/*}*/

/*.slide.cover.w.h img,.slide.cover.w.h svg,.slide.cover.w.h video,.slide.cover.w.h object,.slide.cover.w.h canvas,.slide.cover.w.h iframe {*/
/*    top: 0;*/
/*    left: 0;*/
/*    -webkit-transform: none;*/
/*    -ms-transform: none;*/
/*    transform: none;*/
/*}*/

.slide.shout {
    background: #647819;
}

.slide.shout h2 {
    position: absolute;
    top: 50%;
    left: 15%;
    right: 96px;
    color: #FFF;
    font-size: 100px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slide.shout h2 a {
    background: -webkit-linear-gradient(bottom,currentColor,currentColor .055em,transparent .055em,transparent)repeat-x;
    background: linear-gradient(to top,currentColor,currentColor .055em,transparent .055em,transparent)repeat-x;
    color: #FFF;
}


.slide .take-the-power-back {
    position: absolute;
    top: -100%;
    left: 30%;
    z-index: 0;
    font-size: 35em;
    color: rgba(100,120,25, 0.5);
/*    text-shadow:3px 3px 3px #ccc; */
}

#motivate {
background-image:url("http://linked-research.270a.info/media/images/icon_raised-fist.png");
background-position:40% 40%;
background-repeat:no-repeat;
background-size:auto 80%;
}

.slide .place {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.slide .place.t.l,.slide .place.t.r,.slide .place.b.r,.slide .place.b.l {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.slide .place.t,.slide .place.b {
    -webkit-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0);
    transform: translate(-50%,0);
}

.slide .place.l,.slide .place.r {
    -webkit-transform: translate(0,-50%);
    -ms-transform: translate(0,-50%);
    transform: translate(0,-50%);
}

.slide .place.t,.slide .place.t.l,.slide .place.t.r {
    top: 0;
}

.slide .place.r {
    right: 0;
    left: auto;
}

.slide .place.b,.slide .place.b.r,.slide .place.b.l {
    top: auto;
    bottom: 0;
}

.slide .place.l {
    left: 0;
}

.slide footer {
/*    position: absolute;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: -640px;*/
/*    z-index: 1;*/
/*    display: none;*/
/*    padding: 21px 96px 4px 128px;*/
/*    background: #FAFAC4;*/
/*    box-shadow: 0 0 0 2px rgba(0,0,0,.05);*/
/*    -webkit-transition: bottom .3s;*/
/*    transition: bottom .3s;*/
clear:both;
position:absolute;
left:0;
bottom:30px;
z-index:1;
}

.slide footer p {
    margin: 0;
    line-height:1.6;
}

.slide footer mark {
    background: rgba(255,255,255,.7);
}

.slide:hover footer {
/*    bottom: 0;*/
}

.slide footer .license {
font-size:0.6em;
position:absolute;
top:25px;
left:128px;
}

@media screen {
    .list {
        position: absolute;
        clip: rect(0,auto,auto,0);
        padding: 50px 0 50px 50px;
        background: #e3e5e7;
        text-align: center;
    }

    .list .caption,.list .badge {
        display: block;
    }

    .list .slide {
        position: relative;
        top: 270px;
        display: inline-block;
        margin: -270px -462px 0 0;
        text-align: left;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(.5);
        -ms-transform: scale(.5);
        transform: scale(.5);
    }@    media (max-width:1180px) {
        .list .slide{top: 430px;
        margin: -430px -718px 0 0;
        -webkit-transform: scale(.25);
        -ms-transform: scale(.25);
        transform: scale(.25);
    }
}

.list .slide:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 512px;
    height: 320px;
    box-shadow: 0 0 0 1px #DDD;
    content: '';
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(2);
    -ms-transform: scale(2);
    transform: scale(2);
}

@media (max-width:1180px) {
    .list .slide:before {
        width: 256px;
        height: 160px;
        -webkit-transform: scale(4);
        -ms-transform: scale(4);
        transform: scale(4);
    }
}

.list .slide:after {
    top: 100%;
    bottom: auto;
    padding-top: 50px;
}

@media (max-width:1180px) {
    .list .slide:after {
        width: 512px;
        -webkit-transform-origin: 0 0;
        -ms-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scale(2);
        -ms-transform: scale(2);
        transform: scale(2);
    }
}

.list .slide:hover:before {
    box-shadow: 0 0 0 1px #EEE,0 0 0 12px rgba(255,255,255,.5);
}

.list .slide:target:before {
    box-shadow: 0 0 10px 0 #ccc,0 0 0 12px #647819;
}

.list .slide:target:after {
    color: #52A2DF;
}

.list .slide>div:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    content: '';
}

.list .slide.cover:after,.list .slide.shout:after {
/*    content: counter(slide);*/
}

.list .slide footer {
    display: block;
}

.full {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;
    margin: -320px 0 0 -512px;
    width: 1024px;
    height: 640px;
    background: #000;
}

.full.debug:after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: url(../images/grid-16x10.svg) no-repeat;
    content: '';
}

.full .live-region {
    position: absolute;
    clip: rect(0 0 0 0);
    overflow: hidden;
    margin: -1px;
    padding: 0;
    width: 1px;
    height: 1px;
    border: none;
    display: block;
}

.full .slide {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 150%;
}

.full .slide .next {
    visibility: hidden;
}

.full .slide .next.active {
    visibility: visible;
}

.full .slide:target {
    margin: 0;
}

.full .slide.shout.right h2,.full .slide.shout.up h2 {
    opacity: 0;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

.full .slide.shout.right:target h2,.full .slide.shout.up:target h2 {
    opacity: 1;
    -webkit-transform: translateX(0)translateY(-50%);
    -ms-transform: translateX(0)translateY(-50%);
    transform: translateX(0)translateY(-50%);
}

.full .slide.shout.right h2 {
    -webkit-transform: translateX(-100%)translateY(-50%);
    -ms-transform: translateX(-100%)translateY(-50%);
    transform: translateX(-100%)translateY(-50%);
}

.full .slide.shout.up h2 {
    -webkit-transform: translateX(0)translateY(100%);
    -ms-transform: translateX(0)translateY(100%);
    transform: translateX(0)translateY(100%);
}

.full .progress {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.full .progress div {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 8px;
    background: #52A2DF;
    -webkit-transition: width .2s linear;
    transition: width .2s linear;
}}

@page {
    margin:0;size:1024px 640px;
}
